:root {
  --main-bg: black;
  --glow-color: #ff0e43;
  --glow-spread-color: #cb002b;
  --enhanced-glow-color: #ff6889;
  --btn-color: #b20027;
  --white: white;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  background-color: var(--main-bg);
}
button:hover {
    color: var(--white);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em black,
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
