.carrousel-container {
  max-width: 100%; 
  height: 150vh;
  margin: 0 auto; 
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(178,0,39);
  background: linear-gradient(162deg, rgba(178,0,39,1) 5%, rgba(0,0,0,0.958420868347339) 55%, rgba(0,0,0,1) 88%);
}
  .carrousel-wrapper {
 
  display: flex;
  border: .3rem solid red;
  width: 40rem;
  height:60rem;
  justify-content: center;
  
}
.filter_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  
}
.filter-container Button{
  margin-right: 3rem;
  margin-top: 3rem;
  
}
.column{
  margin-top: 3rem;
  
 
}
.row{
  display: flex;
  justify-content: center;
  gap: 3rem;
  
}


.description {
  
  margin-top: 10px;
  margin-right: 15rem;
  color: white;
  font-size: 2rem;
}

.thumbnail-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; 
  justify-content: center;
  overflow-x: auto; 
  margin-top: 4rem;
  padding: 0 20px;
}

.thumbnail {
 width: 17rem; 
  height: 22rem;
  cursor: pointer; 
  transition: opacity 0.3s ease; 
}

.thumbnail:hover {
  opacity: 0.7; 
}

.thumbnail.active {
  border: 2px solid red; 
}
.carrousel-container button{
  border: .1rem solid var(--glow-color);
  padding: 1rem 3rem;
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 .1em .1em var(--glow-color),
         0 0 .1em .1em var(--glow-spread-color),
         inset 0 0 .1em .1em var(--glow-color);
  text-shadow: 0 0 .5em var(black);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.poster-image {
  width: 30rem;
  height: 40rem;
  margin-left: 30rem;
 
}

