.carrousel-container {
  max-width: 100%; 
  margin: 0 auto; 
  position: relative;
}

.carrousel-wrapper {
 
  display: flex;
  border: .3rem solid red;
  width: 40rem;
  height:60rem;
  justify-content: center;
}
.filter_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}



.description {
  
  margin-top: 10px;
  color: white;
}

.thumbnail-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  overflow-x: auto; 
  margin-top: 10px;
  padding: 0 20px;
}

.thumbnail {
 width: 10rem; 
  height: 15rem;
  cursor: pointer; 
  transition: opacity 0.3s ease; 
}

.thumbnail:hover {
  opacity: 0.7; 
}

.thumbnail.active {
  border: 2px solid red; 
}
.carrousel-container button{
  border: .1rem solid var(--glow-color);
  padding: 1rem 3rem;
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 .1em .1em var(--glow-color),
         0 0 .1em .1em var(--glow-spread-color),
         inset 0 0 .1em .1em var(--glow-color);
  text-shadow: 0 0 .5em var(black);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
